.home-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 5px;
}
.left-side{
    background-color: lightslategray;
}
.right-side{
    background-color: aliceblue;
    margin-left: 10px;
}
.user-details{
    display: flex;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightblue;
    margin-top: 20px;
}
.user-details h3{
    margin: 5px;
}
.break-options{
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 20px;
}
.break-options button{
    border: none;
    border-radius: 50%;
    background-color: lightblue;
    margin-left: 15px;
}
.exercise-details p{
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
}

.activity-btn{
    padding: 20px;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}
